body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.login-form {
    z-index: 1; 
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    color: #fff;
}

.login-form img {
    max-width: 70px;
}

.login-form input.form-control {
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.login-form button {
    background: linear-gradient(145deg, #ff9900, #ff6600);
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.login-form button:hover {
    transform: skew(-5deg, -5deg);
}

.social-login button {
    width: 45%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.social-login button.google {
    background: #db4437;
    color: #fff;
}

.social-login button.facebook {
    background: #3b5998;
    color: #fff;
}
#togglePassword{
    color: black;
    size: 1.5rem;
}
.fa-eye:before, .fa-eye-slash:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
}