body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #ff6600, #ff9900);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.signup-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

.signup-form img.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #ff6600;
}

.signup-form .form-control {
    border: 1px solid #ff6600;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.signup-form button {
    border-radius: 50px;
    background: linear-gradient(to right, #ff6600, #ff9900);
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signup-form button:hover {
    background: #ff6600;
}

.social-login button {
    border-radius: 50px;
    background: #fff;
    color: #ff6600;
    border: 1px solid #ff6600;
    padding: 5px 10px;
    margin: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.social-login button img{
    width: 20px;
}
.social-login button:hover {
    background: #ff6600;
    color: #fff;
}

.signup-form p a {
    color: #ff6600;
    text-decoration: none;
}
